Language: Cpp
Standard: c++20
BasedOnStyle: WebKit
NamespaceIndentation: None
SpaceAfterTemplateKeyword: false
AccessModifierOffset: -4
SortIncludes: false

ColumnLimit: 120
IndentPPDirectives: BeforeHash

AlwaysBreakTemplateDeclarations: Yes

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

PenaltyReturnTypeOnItsOwnLine: 120
AlwaysBreakAfterReturnType: None

BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true

BreakConstructorInitializers: AfterColon
AllowAllConstructorInitializersOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true

BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true

SpaceInEmptyBlock: false
AllowShortFunctionsOnASingleLine: Inline
